*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button img{
    width: 4vw;
}

#logo {
    width: 50%;

}

.toolbar {
    width: 12vw;
    height: 100vh;
    background: black;
    display: flex;
    align-items: center;
    align-content: center;
    position: fixed;
    top: 0;
    right: 0;
}

.toolbar__tools {
    background: red;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;

}
/* .main {
    height: 100vh;
    overflow: hidden;
} */
body {
    overflow: hidden;
}
.tool {
    width: 5vw;
    height: 5vw;
    margin: 4vh 0;
}

.toolbar__inventory {
    width: 2vw;
    height: 2vw;
    
}

.landing-page {
    background-image: url("./picture/main-page.png");
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
}
.landing-page button {
    padding:  0.5vw 1.5vw;
}

.game-page {
    height: 100vh;
    width: 88vw;
    /* display: flex;
    align-content: center;
    align-items: center;*/
    background:purple; 
   
    
}

.game {
    width: 50vw;
    height: 95vh;
    margin: 0 auto;
    background: chartreuse;
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.box {
    width: 5%;
    height: 4%;
    background: transparent;
    display: inline-block;
    /* border: 1px solid black; */
    margin: 0;
    padding:0;
}

.grass {
    background-image: url("./picture/leaf.png" );
    background-size: cover;
}
.grass:hover {
    border: 1px dotted white;
}

.tree {
    background-image: url("./picture/tree-brown.jpg");
    background-size: cover;
}
.tree:hover {
    border: 1px dotted white;
}

.cloud {
    background: white;
    background-size: cover;
}

.dirt {
    background-image: url("./picture/tile");
    background-size: cover;
}
.dirt:hover {
    border: 1px dotted white;
}

.sky {
    background: rgb(65, 140, 238);
    background-size: cover;
}
.rock {
    background-image: url(./picture/rock.png);
    background-size: cover;
}
.rock:hover {
    border: 1px dotted white;
}