*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.toolbar {
    width: 12vw;
    height: 100vh;
    background: black;
    display: flex;
    align-items: center;
    align-content: center;
    position: fixed;
    top: 0;
    right: 0;
}

.toolbar__tools {
    background: red;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;

}

.tool {
    width: 5vw;
    height: 5vw;
    margin: 4vh 0;
}

.toolbar__inventory {
    width: 2vw;
    height: 2vw;
    
}

.landing-page {
    background-image: url("./picture/main-page.png");
    height: 100vh;
    display: flex;
    flex-direction: column  ;
    align-items: center;
    align-content: center;
}

.game-page {
    height: 100vh;
    width: 88vw;
    /* display: flex;
    align-content: center;
    align-items: center;*/
    background:purple; 
   
    
}

.game {
    width: 50vw;
    height: 95vh;
    margin: 0 auto;
    background: chartreuse;
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.box {
    width: 5%;
    height: 4%;
    background: white;
    display: inline-block;
    border: 1px solid black;
    margin: 0;
    padding:0;
}

.grass {
    background-image: url("./picture/grass.jpg");
}
.tree {
    background-image: url("./picture/tree-brown.jpg");
}
.cloud {
    background: white;
}

.tile {
    background-image: url("./picture/tile");
}